@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

//colors
$Ghost_White: #f7f7ff;
$Tuscany: #c49991;
$Blue: #279af1;
$Black_Coral: #60656f;
$Smoke: #131112;

.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}

//fonts
$text-slabo: "Slabo 27px", serif;
