@import "../../global/global.scss";

.About {
  height: 100vh;
  border: 3px solid $Black_Coral;
  border-top: none;
  &-title {
    padding-top: 20px;
    font-size: 4.8em;
    color: $Smoke;
    font-family: $text-slabo;
  }
  &-description {
    font-family: $text-slabo;
  }
}
